<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="happyPathScenarios.Sanity_Create_Batch_Sync"/>
      <class name="happyPathScenarios.Sanity_Create_Empty_Sync"/>
      <class name="happyPathScenarios.Positive_Create_Batch_Sync"/>
      <class name="happyPathScenarios.Positive_Create_Empty_Sync"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
